@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font-family: 'Open Sans';
    color: #555;
}

body {
    background-color: #DDD;
    min-height: 90%;
}

div.content {
    background-color: white;
    margin: 40px;
    padding: 10px 30px;
    min-height: 90%;
}

div.footer {
    background-color: #DDD;
    margin: 40px;
    padding: 10px 30px;
    text-align: right; 
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.6em;
}

img {
    padding: 20px 20px 0px 0px;
}

