<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header class="site-header" role="banner">

      <div class="wrapper">

        <a class="site-title" href="{{ "/" | relative_url}}">
            Craig's Workshop Stuff
        </a>

        <nav class="site-nav">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </span>

          <div class="trigger">

            {% for my_page in site.pages %}
              {% if my_page.title %}
                {% unless my_page.title contains "Category: " %}
                  <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
                {% endunless %}
              {% endif %}
            {% endfor %}
          </div>
        </nav>

      </div>

    </header>



    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>



    <footer class="site-footer">

      <div class="wrapper">

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <p>
                {% if site.author %}
                  {{ site.author | escape }}
                {% else %}
                  {{ site.title | escape }}
                {% endif %}
            </p>
    
            <ul class="contact-list">

                {% if site.email %}
                <li>
                    <a href="mailto:{{ site.email }}">
                        <img src="{{ "/img/social-mail.png" }}" alt="Email" title="Email" />
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="{{ "/feed.xml" | relative_url }}">
                        <img src="{{ "/img/social-rss.png" }}" alt="RSS" title="RSS" />
                    </a>
                </li>
                <!--li>
                    <a href="https://www.youtube.com/channel/UC2B3roboold-aLjxAW-JUQw">
                        <img src="{{ "/img/social-youtube.png" }}" alt="YouTube" title="YouTube" />
                    </a>
                </li-->
            </ul>
          </div>

          <div class="footer-col footer-col-2">
          <p>Categories:</p>

          {% for my_page in site.pages %}
            {% if my_page.title %}
              {% if my_page.title contains "Category: " %}
                  <a class="archive_list_article_link" href='{{ my_page.url | relative_url }}'>
                    {{ my_page.tag }}
                  </a> <br />
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>

          <div class="footer-col footer-col-3">
            <p>{{ site.description | escape }}</p>

            <!--p>Check out my old workshop photos website <a href="https://craigmarshall.org/">here</a></p-->
          </div>
        </div>

      </div>

    </footer>
    <!--script type="text/javascript" src="{{ "/js/imgzoom.js" | relative_url }}"></script-->    

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89110498-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
