---
layout: page
---
  
<ul class="post-list">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}

  <li>
    <h2 style="margin:0px;">
        <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
    </h2>

    <div class="post-meta">
        <strong>
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ post.date | date: "%A, %-d %B %Y" }}
            </time>
        </strong>

        {% if post.tags %}
            |
            {% for t in post.tags %}
                <a href="{{ '/category/' | append:t | relative_url }}">{{ t }}</a>
            {% endfor %} 
        {% endif %}
    </div>
  </li>

  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

